<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/tecblic.png">

<style>
        * {
          box-sizing: border-box;
        }
        #s5
            {
                color: white;
            }
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
        }
        
        label {
          padding: 12px 12px 12px 0;
          display: inline-block;
        }
        
        input[type=submit] {
          background-color: #04AA6D;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          float: right;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        .container {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
        
        .col-25 {
          float: left;
          width: 25%;
          margin-top: 6px;
        }
        
        .col-75 {
          float: left;
          width: 75%;
          margin-top: 6px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
          }
        }
        </style>
   
    
    <title>Document</title>
</head>
<body>
{% include 'tecblicapp/navbar.html' %}
{% block content %}

{% endblock %}
<hr>
    <div class="container">

      <!-- <div class="row" style="font-family: Georgia, 'Times New Roman', Times, serif; ">
        <div class="col-sm-4">
          <h4 class="text-center alert alert-info" style="background-color: #e6f7ff;">Add/Update Bank Details</h4>
          <form id="form" action="bank_form"  method="POST">
            {% csrf_token %}
            <input type="hidden" name="bank_id" id="bank_id">
            {{form.as_p}}
            <input type="submit" class="btn btn-success" id="bankbtnsave" value="Save">
          </form>
        </div> -->
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">
          {% csrf_token %}
          <h4 class="text-center alert alert-info" style="font-size: 35px;background-color: #e6f7ff;">Bank Details</h4>
          <button type="button" class="btn btn-outline-secondary" style="position: relative;bottom: 65px;left:93%" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-bold bg-light" style="margin-left:33%;font-size: 35px;" id="exampleModalLabel">Add Bank</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="bank_form" method="post">
                        {% csrf_token %}

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="bank_name"  placeholder="name@example.com">
                            <label for="floatingInput">Bank Name</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="account_no"  placeholder="name@example.com">
                          <label for="floatingInput">Account No</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="ifsc_code"  placeholder="name@example.com">
                        <label for="floatingInput">IFSC CODE</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="bank_branch"  placeholder="name@example.com">
                      <label for="floatingInput">Bank Branch</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="swift_code"  placeholder="name@example.com">
                    <label for="floatingInput">Swift Code</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="supplier_pan"  placeholder="name@example.com">
                  <label for="floatingInput">Supplier Pan</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="supplier_gstin"  placeholder="name@example.com">
                <label for="floatingInput">Supplier GSTIN</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="cin"  placeholder="name@example.com">
              <label for="floatingInput">CIN</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="arn"  placeholder="name@example.com">
            <label for="floatingInput">ARN</label>
        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark">Save</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
          </div>
        
          <table class="table table-hover">
            <thead>
              <tr id="heading">
                <th scope="col">Bank Name</th>
                <th scope="col">Account No</th>
                <th scope="col">IFSC Code</th>
                <th scope="col">Bank Branch</th>
                <th scope="col">Swift Code</th>
                <th scope="col">Cin</th>
                <th scope="col">Supplier Pan</th>
                <th scope="col">Supplier GSTIN</th>
                <th scope="col">ARN</th>
                <th scope="col">Edit</th>
                
              </tr>
            </thead>
            <tbody id="tbody">
                    {% for bank in bankdetails %}
                    <tr>
                      <td id="name{{bank.id}}">{{ bank.bank_name }}</td>
                      <td id="account_no{{bank.id}}">{{bank.account_no  }}</td>
                      <td id="ifsc{{bank.id}}">{{ bank.ifsc_code  }}</td>
                      <td id="bank_branch{{bank.id}}">{{bank.bank_branch }}</td>
                      <td id="swift_code{{bank.id}}">{{bank.swift_code }}</td>
                      <td id="cin{{bank.id}}">{{bank.cin }}</td>
                      <td id="pan{{bank.id}}">{{bank.supplier_pan }}</td>
                      <td id="gstin{{bank.id}}">{{bank.supplier_gstin }}</td>
                      <td id="arn{{bank.id}}">{{bank.arn }}</td>
                      <td><input type="button" data-sid="{{bank.id}}" id="e{{bank.id}}" class="btn btn-warning btn-edit" value="Edit"></td>
                      <!-- <td><input type="button" data-sid="{{bank.id}}" class="btn btn-danger btn-del" value="Delete"></td> -->
                      
                    </tr>
                    
                    
                    {% endfor %}
                  </tbody>
                  
                </table>
                
              </div>
            </div>
            </div>
            <script>
    //           $("tbody").on("click",".btn-del",function(){
    //             console.log('delete butto clicked');
    //     let id=$(this).attr("data-sid");
    //     var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
        
    //     mydata={cid:id,'csrfmiddlewaretoken':csrf_token}
    //     mythis=this;
    //     $.ajax({
    //       url:"{% url 'delete_banks' %}",
    //       method:"POST",
    //       data:mydata,
    //       success:function(data){
    //         if(data.status==1){
    //           $(mythis).closest("tr").fadeOut();
    //           alert('You data is deleted successfully')
    //         }
    //       }
    //     })
    //   })
      
    //   $("tbody").on("click",".btn-edit",function(){
    //     console.log('edit butto clicked');
    //     let id=$(this).attr("data-sid");
    //     var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
        
    //     mydata={cid:id,'csrfmiddlewaretoken':csrf_token}
        
    //     $.ajax({
    //       url:"{% url 'edit_bank' %}",
    //       method:"POST",
    //         data:mydata,
    //         dataType:"json",
    //         success:function(data){
    //           console.log(data.id)
    //           $("#bank_id").val(data.id);
    //           $("#banknameid").val(data.bank_name);
    //           $("#ifscid").val(data.ifsc);
              
    //           $("#branchid").val(data.bank_branch);
    //           $("#accountid").val(data.account_no);
    //           $("#supplier_panid").val(data.supplier_pan);
    //             $("#supplier_gstinid").val(data.supplier_gstin);
    //             $("#swiftcode_id").val(data.swift_code);
    //             $("#cin_id").val(data.cin);
    //             $("#arn_id").val(data.arn);
                
                
    //         }
    //     })
    // })

    $("tbody").on("click",".btn-edit",function(){
        console.log('edit butto clicked');
        let id=$(this).attr("data-sid");
        
        console.log(id)
        $('#name'+id).html('<input type="text" value="'+$('#name'+id).html()+'">')
        $('#account_no'+id).html('<input type="text" value="'+$('#account_no'+id).html()+'">')
        $('#ifsc'+id).html('<input type="text" value="'+$('#ifsc'+id).html()+'">')
        $('#bank_branch'+id).html('<input type="text" value="'+$('#bank_branch'+id).html()+'">')
        $('#swift_code'+id).html('<input type="text" value="'+$('#swift_code'+id).html()+'">')
        $('#cin'+id).html('<input type="text" value="'+$('#cin'+id).html()+'">')
        $('#pan'+id).html('<input type="text" value="'+$('#pan'+id).html()+'">')
        $('#gstin'+id).html('<input type="text" value="'+$('#gstin'+id).html()+'">')
        $('#arn'+id).html('<input type="text" value="'+$('#arn'+id).html()+'">')
        $(this).val("Submit")
        // $('#d'+id).val("cancel")
        
        $(this).attr('id', $(this).attr('id').replace('e', 's'));
        $(this).attr('class', $(this).attr('class').replace('btn-edit', 'sub'));
        $('<td><input type="button"  id="c'+id+'" class="button btn btn-danger cancel"  value="Cancel"></td>').insertAfter($(this).parent());
        // $('#d'+id).addClass('cancel');
        // $('#d'+id).attr('class', $('#d'+id).attr('class').replace('btn-del', ' dd'));
        // $('#d'+id).attr('id', $('#d'+id).attr('id').replace('d', 'c'));
        // console.log($('#name'+id).children()[0].value)
        $("#heading").append('<th scope="col">Cancel</th>')
        
    });

    $("tbody").on("click",".sub",function(){

let id=$(this).attr("data-sid");
var name = $('#name'+id).children()[0].value
var account_no = $('#account_no'+id).children()[0].value
var ifsc = $('#ifsc'+id).children()[0].value
var bank_branch = $('#bank_branch'+id).children()[0].value
var swift_code = $('#swift_code'+id).children()[0].value
var cin = $('#cin'+id).children()[0].value
var pan = $('#pan'+id).children()[0].value
var gstin = $('#gstin'+id).children()[0].value
var arn = $('#arn'+id).children()[0].value

var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
// mydata={cid:id,'csrfmiddlewaretoken':csrf_token}
mydata={'bank_id':id,'bank_name':name,'account_no':account_no,'ifsc_code':ifsc,'bank_branch':bank_branch,'swift_code':swift_code,'supplier_pan':pan,'supplier_gstin':gstin,'cin':cin,'arn':arn,'csrfmiddlewaretoken':csrf_token}
console.log(mydata)
        $.ajax({
            url:"bank_form",
            method:"POST",
            data:mydata,
            success:function(data){
                
                
                if(data.status==0){
                    console.log('your form not submitted')
                }
                else{
                    console.log('form submitted successfully')
                                                
                    location.reload();
                    
                }
                
            }
        })
    });

        
    $("tbody").on("click",".cancel",function(){
        // let id=$(this).attr("id");
        // id = id.split("")[1]
        // var address = $('#address'+id).children()[0].value
        // var gstin = $('#gst'+id).children()[0].value
        // var pan = $('#pan'+id).children()[0].value
        // var name = $('#name'+id).children()[0].value
        // var email = $('#email'+id).children()[0].value
        // var kind = $('#kind'+id).children()[0].value
        // var place = $('#place'+id).children()[0].value
        // $('#address'+id).html(address)
        // $('#gst'+id).html(gstin)
        // $('#pan'+id).html(pan)
        // $('#name'+id).html(name)
        // $('#email'+id).html(email)
        // $('#kind'+id).html(kind)
        // $('#place'+id).html(place)
        location.reload()
    });
</script>




   
</body>
</html>