<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Invoice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>

</head>
<body>
{% include 'tecblicapp/navbar.html' %}
{% block content %}

{% endblock %}
<hr>
<h4 class="text-center alert alert-info" style="background-color: #e6f7ff;">Check Invoice</h4> 
<div style="text-align: right;margin-right: 5%;" >
<form action="/filter/" method="post">
    {% csrf_token %}
    <input type="date" name="startdate" class="mx-1" required><input name="enddate" type="date" class="mx-3" required><input class="btn-sm btn-dark" type="submit" value="Search">
</form>
</div>
<div class="container">

    <form action="" method="post" style="height:250px">
        <div style="font-family: Georgia, 'Times New Roman', Times, serif; ">
            
            <br>
            <table class="table table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">Invoice No</th>
                        <th scope="col">Invoice Date</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Client Address</th>
                        <th scope="col">Bank Name</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Description</th>
                        
                        <th scope="col">Payment Status</th>
                        <!-- <th scope="col">CGST</th>
                            <th scope="col">SGST</th> -->
                            <th scope="col">Gross Amount</th>
                            <th scope="col">Currency Type</th>
                            <th scope="col">Generate Type</th>
                            
                            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for i in inv %}
        <tr>
            <td scope="row">{{ i.invoice_no }}</td>
            <td>{{ i.invoice_date }}</td>
            <td>{{ i.client.clientName }}</td>
            <td>{{ i.client.clientAddress }}</td>
            <td>{{  i.bank.bank_name }}</td>
            <td>{{ i.payment_method}}</td>
            <td>{{ i.description1}}</td>
            
            {% if i.payment_status == "PENDING" %}<td style="color:red;">{{ i.payment_status }}</td>
            {% else %}<td style="color:green;">{{ i.payment_status }}</td>
            {% endif %}
            
            <!-- <td>{{ i.cgst}}</td>
                <td>{{ i.sgst}}</td> -->
                <td>{{ i.gross_amount}}</td>
                <td>{{ i.currency_type}}</td>
                <td>{{ i.send_email}}</td>
                <td><a href="{% url 'edit_invoice' i.invoice_no %}" class="btn btn-warning">Edit</a></td>
                <td><a href="{% url 'delete_invoice' i.invoice_no %}" class="btn btn-danger">Delete</a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

</form>
<nav aria-label="Page navigation example" class="mt-4" style="margin: auto;width: 25%;">
    <ul class="pagination" style="justify-content: center;">
        {% if inv.has_previous %}
        <li class="page-item"><a class="page-link text-dark" href="/filter?page={{inv.previous_page_number}}">Previous</a></li>
        {% else %}
        <li class="page-item" disabled><button class="page-link text-dark" disabled>Previous</button></li>
        {% endif %}
        {% for i in totalpages %}
        <li class="page-item "><a class="page-link 
            {% if inv.number == i %}
            bg-dark text-light 
            {% else %}
             bg-light text-dark
            {% endif %}
            " href="/filter?page={{i}}">{{i}}</a></li>
            {% endfor %}
            {% if inv.has_next %}
            <li class="page-item"><a class="page-link text-dark" href="/filter?page={{inv.next_page_number}}">Next</a></li>
            {% else %}
            <li class="page-item" disabled><button class="page-link text-dark" disabled>Next</button></li>
            {% endif %}
        </ul>
    </nav>
</body>
</div>
</html>