<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>invoice edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css"
    rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
<link rel="icon" type="image/x-icon" href="/static/tecblic.png">
<link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<link href="/static/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<link href="/static/assets/css/material-dashboard-rtl.css?v=2.1.2" rel="stylesheet" />
 
<style>

*
{
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: white;
    overflow-x: hidden;
    

}
textarea
{
    width: 200%;
}
</style>
</head>
<body>
{% include 'tecblicapp/navbar.html' %}
{% block content %}

{% endblock %}

    <form action="" method="post">
        <br>
        <h4 class="text-center text-dark " style="margin-bottom:2%;font-size: 35px;font-weight: 800">Edit Invoice</h4>
        <hr>
        {% csrf_token %}
        <input type="hidden" name="invoice_no" value="{{invoice.invoice_no}}" class="form-control" id="invoiceid" placeholder="Invoice No">
        <input type="hidden" name="sac_code" value="{{invoice.sac_code}}" class="form-control" id="invoiceid" placeholder="Invoice No">

        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Invoice Number</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">
                <label><h4 style="color: black;position: relative; top: 10px;">{{invoice.invoice_no}}</h4></label>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Invoice date</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">
                <label><input type="date" value="2023-03-15" class="form-control",id="dateid" style="width:;background-image: linear-gradient(to top, rgb(39, 37, 37) 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to top, #1d1b1b 1px, rgba(255, 255, 255, 0) 1px);color:rgb(39, 37, 37);" name = "invoice_date"  placeholder="Email" required></label>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Payment method</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">
                
                    <select name="payment_method" id="id_payment_method" style="height: 100%;padding:12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    resize: vertical;" > 
                        <option value="Cash" {% if invoice.payment_method == "Cash" %} selected{% endif %}>Cash</option>

                        <option value="Online" {% if invoice.payment_method == "Online" %} selected{% endif %}>Online</option>
                      
                        <option value="Cheque" {% if invoice.payment_method == "Cheque" %} selected{% endif %}>Cheque</option>
                      
                        <option value="Swift Transfer" {% if invoice.payment_method == "Swift Transfer" %} selected{% endif %}>Swift Transfer</option>
                    </select>
                    <i style="font-size: 21px;
                        color: black;
                        position: relative;
                        bottom: -3px;
                        left: -37px;
                        " class="fa fa-solid fa-angle-down"></i></label>
                  
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Payment status</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">

                    <select name="payment_status" id="payment_status" onchange="changestatus()"  style="height: 100%;padding: 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    resize: vertical;">
                        <option value="PENDING" {% if invoice.payment_status == "PENDING" %} selected{% endif %}>PENDING</option>
                        <option value="PAID" {% if invoice.payment_status == "PAID" %} selected{% endif %}>PAID</option>
                      
                      
                      </select>
                      <i style="font-size: 21px;
                      color: black;
                      position: relative;
                      bottom: -3px;
                      left: -37px;
                      " class="fa fa-solid fa-angle-down"></i></label>

            </div>
        </div>

        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Currency type</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">
             <select name="currency_type" id="id_currency_type" style="height: 65%;padding: 12px;
             border: 1px solid #ccc;
             border-radius: 4px;
             resize: vertical;
             width: 126%;">
                <option value="INR" {% if invoice.payment_status == "INR" %} selected{% endif %}>INR</option>
              
                <option value="USD" {% if invoice.payment_status == "USD" %} selected{% endif %}>USD</option>
              
                <option value="EUR" {% if invoice.payment_status == "EUR" %} selected{% endif %}>EUR</option>
              
              </select>
              <i style="font-size: 21px;
              color: black;
              position: relative;
              bottom: 33px;
              left: 67px;
              " class="fa fa-solid fa-angle-down"></i></label>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Qty type</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">
                <select name="qty_type" id="id_qty_type" style="height: 68%; padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                resize: vertical;width: 100%">
                    <option value="No&#x27;s" {% if invoice.payment_status == "No&#x27;s" %} selected{% endif %}>No&#x27;s</option>
                
                    <option value="HRS" {% if invoice.payment_status == "HRS" %} selected{% endif %}>HRS</option>
                
                    <option value="DAY" {% if invoice.payment_status == "DAY" %} selected{% endif %}>DAY</option>
                
                </select>
                <i style="font-size: 21px;
                color: black;
                position: relative;
                bottom: 34px;
                left: 56px;
                " class="fa fa-solid fa-angle-down"></i></label>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Gst type</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">
             <select name="gst_type" id="id_gst_type" style="padding: 12px;
             border: 1px solid #ccc;
             border-radius: 4px;
             resize: vertical;width: 122%;">
             
                <option value="DOMESTIC"  {% if invoice.payment_status == "DOMESTIC" %} selected{% endif %}>DOMESTIC</option>
              
                <option value="EXPORT"  {% if invoice.payment_status == "EXPORT" %} selected{% endif %}>EXPORT</option>
              
                <option value="INTER STATE" {% if invoice.payment_status == "Inter State" %} selected{% endif %}>INTER STATE</option>
              
              </select>
              <i style="font-size: 21px;
              color: black;
              position: relative;
              bottom: 34px;
              left: 127px;
              " class="fa fa-solid fa-angle-down"></i></label>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">T 2</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">
<textarea name="t_2" cols="20" rows="7" required id="id_t_2" style="padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;">
   {{invoice.t_2}}</textarea>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">T 3</label>
            <div class="col-auto" style="position: relative;
    right: 5%;">
<textarea name="t_3" cols="20" rows="7" required id="id_t_3" style="padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;">
   {{invoice.t_3}}</textarea>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">T 4</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">
<textarea name="t_4" cols="20" rows="7" required id="id_t_4" style="padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;">
   {{invoice.t_4}}</textarea>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 40%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">T 5</label>
            <div class="col-auto" style="    position: relative;
    right: 5%;">
<textarea name="t_5" cols="20" rows="7" required id="id_t_5" style="padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;">
   {{invoice.t_5}}</textarea>
            </div>
        </div>
        <br>
        <div>
            <div class="form-group row" style="position: relative;left: 40%;">
                <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Client</label>
                <div class="col-auto" style="position: relative;
        right: 5%;">
     <select name="client" id="id_client" style="padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     resize: vertical;">
     
         {% for i in client %}
         <option value="{{i.clientName}}"  {% if invoice.client.id == i.id %} selected{% endif %}>{{i.clientName}}</option>
        {% endfor %}
      
      </select>
      <i style="font-size: 21px;
      color: black;
      position: relative;
      bottom: -3px;
      left: -37px;
      " class="fa fa-solid fa-angle-down"></i></label>

</div>
            </div>
            <div class="form-group row" style="position: relative;left: 40%;">
                <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Send email</label>
                <div class="col-auto" style="position: relative;
        right: 5%;">
                 <select name="send_email" id="id_send_email" style="padding: 12px;
                 border: 1px solid #ccc;
                 border-radius: 4px;
                 resize: vertical;">
                     <option value="generate_and_send"  {% if invoice.send_email == "generate_and_send" %} selected{% endif %}>Generate And Send Mail</option>                  
                    <option value="only_generate"  {% if invoice.send_email == "only_generate" %} selected{% endif %}> Only Generate</option>

                  </select>
                  <i style="font-size: 21px;
                  color: black;
                  position: relative;
                  bottom: -3px;
                  left: -37px;
                  " class="fa fa-solid fa-angle-down"></i></label>
                </div>
            </div>
            <div class="form-group row" style="position: relative;left: 40%;">
                <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;">Bank</label>
                <div class="col-auto" style="    position: relative;
        right: 5%;">
<select name="bank" id="id_bank" style="padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
width: 103%;"> 
    {% for i in bank %}
    <option value="{{invoice.bank.id}}" {% if invoice.bank.id == i.id %} selected{% endif %}>{{i.bank_name}}</option>
    {% endfor %}
  
  </select>
  <i style="font-size: 21px;
  color: black;
  position: relative;
  bottom: 34px;
  left: 131px;
  " class="fa fa-solid fa-angle-down"></i></label>
                </div>
            </div>
       
        
        {% for i in invoice_detail %}
        <div class="form-group row" style="position: relative;left: 15%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;left: 25%;">Description{{forloop.counter}}</label>
            <div class="col-auto" style="position: relative;width: 17%;right: -20%;">
                <label><input type="text" class="form-control",id="desription{{forloop.counter}}" style="background-image: linear-gradient(to top, rgb(39, 37, 37) 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to top, #1d1b1b 1px, rgba(255, 255, 255, 0) 1px);color:rgb(39, 37, 37);" name = "description{{forloop.counter}}" value="{{i.description}}" placeholder="Description" required></label>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 15%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;left: 25%">Quantity{{forloop.counter}}</label>
            <div class="col-auto" style="left: 20%">
                <input type="number" value="{{i.quantity}}" name="quantity{{forloop.counter}}" class="form-control",id="quantity{{forloop.counter}}" style="background-image: linear-gradient(to top, rgb(39, 37, 37) 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to top, #1d1b1b 1px, rgba(255, 255, 255, 0) 1px);color:rgb(39, 37, 37);" placeholder="quantity" required>
            </div>
        </div>
        <div class="form-group row" style="position: relative;left: 15%;">
            <label class="col-sm-2 col-form-label text-dark" style="font-weight: bold;left: 25%">Cost of Unit{{forloop.counter}}</label>
        <div class="col-auto">
            <input type="number" style="background-image: linear-gradient(to top, rgb(39, 37, 37) 2px, rgba(255, 255, 255, 0) 2px), linear-gradient(to top, #1d1b1b 1px, rgba(255, 255, 255, 0) 1px);color:rgb(39, 37, 37);position: relative; left: 158%" name="cost{{forloop.counter}}" value="{{i.cost_per_unit}}" class="form-control",id="cost{{forloop.counter}}" placeholder="Cost Per Unit" required>
        </div>
    </div>
    {% endfor %}<br>
    <input type="submit" value="SUBMIT" class="ml-3 btn btn-dark bg-dark" style="position: relative;left: 42rem;border-radius:40px;">
    <br><br>
</div>
</form>

</body>
</html>